{{ partial "header.html" . }}
{{ range .Data.Pages }}
<article>
  {{ partial "teaser.html" . }}
  <h1>
    <a href="{{ .RelPermalink  }}">{{ .LinkTitle }}</a>
  </h1>
  <p class="tagline">{{ .Description }}</p>
  <nav>
    {{ if .Content }}
    <div>
      <a href="{{ .RelPermalink }}#bericht">
        <svg>
          <use xlink:href="sprite.svg#read"></use>
        </svg>
      </a>
      <p>{{ .ReadingTime }} Minuten</p>
    </div>
    {{ end }}
    {{ if .Params.photos }}
    {{ $flickr := print "https://api.flickr.com/services/rest/?format=json&nojsoncallback=1&api_key=" (getenv "FLICKR_API_KEY") }}
    {{ $result := getJSON $flickr "&method=flickr.photosets.getPhotos&photoset_id=" .Params.photos }}
    <div>
      <a href="{{ .RelPermalink }}#fotos">
        <svg>
          <use xlink:href="sprite.svg#photo"></use>
        </svg>
      </a>
      <p>{{ len $result.photoset.photo }} Fotos</p>
    </div>
    {{ end }}
    {{ if .Params.video }}
    {{ $video := getJSON "https://api.vimeo.com/videos/" .Params.video "?access_token=" (getenv "VIMEO_TOKEN") }}
    <div>
      <a href="{{ .RelPermalink }}/#film">
        <svg>
          <use xlink:href="sprite.svg#video"></use>
        </svg>
      </a>
      <p>{{ math.Round (div $video.duration 60) }} Minuten</p>
    </div>
    {{ end }}
  </nav>
</article>
{{ end }}
{{ partial "footer.html" . }}
