@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: local("Cormorant"), url("fonts/Cormorant-Bold.woff") format("woff");
}

@font-face {
  font-family: "Proza Libre";
  font-style: normal;
  font-weight: 400;
  src: local("Proza Libre"), url("fonts/ProzaLibre-Regular.woff") format("woff");
}

$highlight: #c00;

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: "Proza Libre";
  background-color: #eee;
}

a {
  color: $highlight;
  text-decoration: none;
}

header,
section {
  margin: 40px;
}

h1,
.tagline {
  margin-left: 40px;
  margin-right: 40px;
}

.logo,
h1,
h2,
h3,
h4 {
  font-family: "Cormorant";
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

header,
h1,
h2,
h3,
h4,
.tagline {
  text-align: center;
}

svg {
  fill: $highlight;
}

.logo {
  margin: 20px 0;
  font-size: 3em;
}

video,
.teaser {
  width: 100%;
}

article {
  background: #fff;
  max-width: 800px;
  margin: 40px auto;
  > nav {
    display: flex;
    justify-content: space-evenly;
    > div {
      text-align: center;
      > a {
        > svg {
          height: 80px;
          width: 80px;
        }
      }
      > p {
        margin-top: -10px;
      }
    }
  }
}

/**********************/
/*       PHOTOS       */
/**********************/
.photos {
  display: grid;
  grid-gap: 40px;
  padding: 0 40px 40px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  figure {
    margin: 0;
    height: 150px;
    width: 150px;
  }
}
.pswp__ui--fit .pswp__top-bar {
  background-color: transparent;
}
.pswp__counter,
.pswp__button--fs {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 6px;
}
